@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .neutral {
    background-color: #bcbcbc;
    color: theme("colors.gray");
  }
  .success {
    background-color: #c3fa98;
    color: #289501;
  }
  .danger {
    background-color: #ffb9bd;
    color: #c72c2c;
  }
  .warning {
    background-color: theme("colors.onPrimary");
    color: theme("colors.primary");
  }
  .info {
    background-color: #b1d5ff;
    color: #2f69ff;
  }
}
